.datepicker {
  display: grid;
  row-gap: 20px;
}

.datepicker__days-list {
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, auto));
  column-gap: 15px;
  row-gap: 15px;
  list-style-type: none;
}

.datepicker__days-list-item {
  font-size: 20px;
  border: 1px solid transparent;

  &--day-number {
    cursor: pointer;
    line-height: 2;
    border-radius: 5px;
  }

  &--day-number:hover {
    background-color: rgba(0, 133, 255, 0.57);
  }

  &--disabled:hover {
    cursor: unset;
    background-color: transparent;
  }

  &--selected-day {
    background-color: bisque;
  }

  &--current-day {
    border: 1px solid red;
  }

  &--prev-days {
    color: rgba(0, 0, 0, 0.5);
  }
}

.datepicker__year {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.datepicker__month {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
