.datepicker {
  display: grid;
  row-gap: 20px;
  text-align: center;
  width: 100%;
  max-width: 450px;
}

.datepicker__days-list {
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, auto));
  column-gap: 15px;
  row-gap: 15px;
  list-style-type: none;
}

.datepicker__days-list-item {
  font-size: 20px;
  border: 1px solid transparent;
}
